@import '../../mediasearch-variables.less';

.sdms-page-result {
	border-bottom: @border-width-base @border-style-base
		@sdms-border-color-result;
	padding: @sdms-spacing-base * 0.75 0;

	&:last-child {
		border-bottom: 0;
	}

	h3 {
		margin: 0;
		padding: 0;
	}

	p {
		color: @color-base--subtle;
		display: inline-block;
		margin: 0;
	}
}
