@import 'mediawiki.mixins.less';
@import '../mediasearch-variables.less';

.sdms-spinner {
	@keyframes spinnerBounceDelay {
		0%,
		50%,
		100% {
			transform: scale( 0.625 );
		}

		// Equals 320ms.
		20% {
			opacity: @opacity-icon-base;
			transform: scale( 1 );
		}
	}

	.flex-display();
	align-items: center;
	justify-content: center;
	padding: 48px 16px;
	white-space: nowrap;

	& .sdms-spinner-bounce,
	&::before,
	&::after {
		animation: spinnerBounceDelay 1600ms ease-in-out -160ms infinite both;
		background-color: @background-color-progressive;
		border-radius: @border-radius-circle;
		content: '';
		display: block;
		float: left;
		height: 12px;
		width: 12px;
	}

	&::before {
		animation-delay: -330ms;
		margin-right: 4px;
	}

	&::after {
		animation-delay: 0s;
		margin-left: 4px;
	}
}
